.counter {
    height: 20vmin;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 25rem;
}

.counter span {
    font-size: 10rem;
}

.counter button {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
}
